{% section "main-404" %}
{% section "test" %}
<div class='test-404-container'>
  {% section "test" %}
</div>

{% style %}
  .test-404-container{
      width:200px;
      height:200px;
      background:#ececec;
      margin:100px auto;
  }
{% endstyle %}
